<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="Emakina_Cms_Export" xsi:type="object">Emakina\Cobai\Console\Command\ExportCommand</item>
                <item name="Emakina_Cms_Import" xsi:type="object">Emakina\Cobai\Console\Command\ImportCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Emakina\Cobai\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Emakina\Cobai\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">cobaiLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Emakina\Cobai\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

</config>
